.main{
    background-color: #EFEFEF;
    height: 100%;
}

.sort-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.view-switch{
    background-color: white;
    margin-top: 10px;
    margin-bottom:20px;
    
}

.active-view{
    background-color: grey;
}

/*cars styles*/
.card-img-top img{
    width: 10%;
    height: 10%;
    object-fit:fill;
    /*display: block;*/
}

.card-img-top{
    padding: 5px;
}

.card-text{
    font-weight: bold;
    text-align: center;
}

.price{
    color: #b70b1f;
    font-weight: bold;
    text-align: center;
}

.card{
    font-size: 12px;
    text-align: center;
    margin: 2px;
    background-color: white;
    margin-bottom: 20px;
}

.views{
    text-align: center;
}

.list-label{
    font-weight: bold;
    text-align: center;
}

.list-text{
    text-align: center;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

#listShow{
    display: none;
}

.row-bg{
    padding: 5px;
    background-color: white;
    margin-bottom: 20px;
}

.watchlistIcon{
    float: right;
}