.centered{

    /*position: center;*/
    text-align: center;
}

.header{
    margin-top: 15px;
    margin-bottom: 20px;
}

.card-header{
    padding-top: 55px;
    padding-bottom: 15px;
    color: #9370DB;
}

.price-tag{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    color: #b70b1f;
}

.description{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}

.card-1{
    background-color:   #FFE4B5;
}

.card-2{
    background-color:   #FFFACD;
}

.card-3{
    background-color:   #EEE8AA;

}
.card{
    height: 60vh;
}

.btn-submit-vehicle{
   background-color: #b70b1f;
   width: 90%;
   color: white;
}

ul{
    padding: 0;
    margin:0;
    list-style-type: none;
    padding-bottom: 25px;

}

