<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/talkwithcarowner.css">
    <title>Exotic Site-Home</title>
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="container">
                <p class="title">Rebuilt Exotics</p>
                <hr>
                <nav class="navbar flex-row navbar">
                    <a class="nav-link active" href="#!">Home</a>
                    <a class="nav-link" href="#!">Submit a vehicle</a>
                    <a class="nav-link" href="#!">About</a>
                    <a class="nav-link" href="#!">Contacts</a>
                    <a class="nav-link" href="#!">Sold Vechiles</a>
                    <hr>
                  </nav>


                  <nav class="navbar flex-row profile">
                      <img id="person" src="/comp/pages/images/person.jpeg" alt="profile ">
                    <a class="nav-link active" href="#!">Messages</a>
                    <a class="nav-link" href="#!">Saved vehicles</a>
                    <a class="nav-link" href="#!">My ads</a>
                    <a class="nav-link" href="#!">Settings</a>
                    <a class="nav-link" href="#!">Sign out</a>
                    
                  </nav>
               
             
            </div>
           
        </div>
        <div class="site-view">
            <div class="overview">
                <nav class="navbar navbar-light bg-light">
                    <form class="form">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0 bg-primary" type="submit">Search</button>
                    </form>
                    
                     
                  
            </div>
           
            <div class="container car-overview">
               
                <div class="car-profile">
<div id="car-details">
    <p id="car-year">1996</p>
    <p id="car-name">Toyota Tundra</p>
    <p id="car-price">$00000.00</p>

</div>
<div id="owner-profile">
    <div id="picture">
        <img  class="owner-picture" src="./images/person.jpeg" alt="owner picture">
        </div>
        <div id="data">
            <p id="own-name">Ruth Jessie</p>
            <p id="own-local">Kansas City</p>
        </div>
        
</div>
<div class="list-group short-note">
    <p class="list-group-item list-group-item-action list-group-item-light">
        s a long established fact that a reader will be distracted 
        by the readable content of a page when looking at its layout. 
        The point of using Lorem Ipsum is that it has a more-or-less 
    </p>
  </div>
  
  
  
 
<div id="more-info">
     <p id="car-prop"> Classification &emsp; &emsp;  &emsp;  &emsp; &emsp; Muscle </p> 
     <hr id="horizontal-bar">   
     <p id="car-prop"> Horsepower&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 383HP</p>
     <hr id="horizontal-bar"> 
     <p id="car-prop"> Torque&emsp; &emsp;  &emsp;  &emsp;  &emsp; &emsp; &emsp; &emsp;430 N-m</p>
     <hr id="horizontal-bar"> 
     <p id="car-prop"> Suspension&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; RWD</p>
     <hr id="horizontal-bar"> 
     
     
    
</div>
<p id="contact">+23427872979170</p>
<div class="card-group custom-cards">
    <div class="card">
      <div class="card-body shape">
        <img id="message" src="./images/icons8-email-26.png" alt="email"> 
        
 
      </div>
    </div>
    <div class="card">
      <div class="card-body shape">
        <img id="message" src="./images/icons8-group-message-50.png" alt="message">
       
       
      </div>
    </div>
    <div class="card">
      <div class="card-body shape">
        <img id="message" src="./images/icons8-bookmark-64.png" alt="bookmarks">
         
       
      </div>
    </div>
  </div>
  
                </div>
                <div class="car-picture">
                     
                        <div id="chat-portal">

                            <div class="col-sm-3 col-sm-offset-4 frame rounded chatbox">
                                <ul></ul>
                                <div>
                                    <div class="msj-rta macro" style="margin:auto">                        
                                        <div class="text text-r" style="background:whitesmoke !important">
                                            <input class="mytext" placeholder="Type a message"/>
                                        </div> 
                                    </div>
                                </div>
                            </div>        
                        </div> 
                         

                    
                     <div class="side-views">
                        <div class="card-group car-sides">
                            <div class="card" >
                              <div class="card-body">
                                <img id="car-side" src="./images/front.jpeg" alt="car">                               
                                   
                                     
                            
                              </div>
                            </div>
                        </div>
                        <div class="card-group car-sides">
                            <div class="card" >
                              <div class="card-body">
                                <img id="car-side" src="./images/front.jpeg" alt="car">                               
                                   
                                     
                            
                              </div>
                            </div>
                        </div>
                        <div class="card-group car-sides">
                            <div class="card" >
                              <div class="card-body">
                                <img id="car-side" src="./images/front.jpeg" alt="car">                               
                                   
                                     
                            
                              </div>
                            </div>
                        </div>
                        <div class="card-group car-sides">
                            <div class="card" >
                              <div class="card-body">
                                <img id="car-side" src="./images/front.jpeg" alt="car">                               
                                   
                                     
                            
                              </div>
                            </div>
                        </div>
                        <div class="card-group car-sides">
                            <div class="card" >
                              <div class="card-body">
                                <img id="car-side" src="./images/front.jpeg" alt="car">                               
                                   
                                     
                            
                              </div>
                            </div>
                        </div>
                        
                        

                    </div>
                    
                </div>
            </div>
             
               
            </div>
            
             

        </div>
            
        </div>
        
       
    </div>
    <script>
        var me = {};

var you = {};

function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}            

//-- No use time. It is a javaScript effect.
function insertChat(who, text, time = 0){
    var control = "";
    var date = formatAMPM(new Date());
    
    if (who == "me"){
        
        control = '<li style="width:100%">' +
                        '<div class="msj macro">' +
                            '<div class="text text-l">' +
                                '<p>'+ text +'</p>' +
                                '<p><small>'+date+'</small></p>' +
                            '</div>' +
                        '</div>' +
                    '</li>';                    
    }else{
        control = '<li style="width:100%;">' +
                        '<div class="msj-rta macro">' +
                            '<div class="text text-r">' +
                                '<p>'+text+'</p>' +
                                '<p><small>'+date+'</small></p>' +
                            '</div>' +
                        '<div class="avatar" style="padding:0px 0px 0px 10px !important"></div>' +                                
                  '</li>';
    }
    setTimeout(
        function(){                        
            $("ul").append(control);

        }, time);
    
}

function resetChat(){
    $("ul").empty();
}

$(".mytext").on("keyup", function(e){
    if (e.which == 13){
        var text = $(this).val();
        if (text !== ""){
            insertChat("me", text);              
            $(this).val('');
        }
    }
});

//-- Clear Chat
resetChat();

//-- Print Messages
insertChat("me", "Hello Tom...", 0);  
insertChat("you", "Hi, Pablo", 1500);
insertChat("me", "What would you like to talk about today?", 3500);
insertChat("you", "Tell me a joke",7000);
insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 9500);
insertChat("you", "LOL", 12000);


//-- NOTE: No use time on insertChat.
    </script>
  
    

    
</body>
</html>