{%extends "base.html" %}
{%block styles%}
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/forgetpassword.css' %}">
{% endblock %}
{%block content%}
{%load static%}

<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                 
                <p>Check your email for instructions! You will receive a reset password email if the email you provided is in our systems </p>
                
            </div>
           
        </div>
    </div>
</div>
{% endblock %}
