{% extends "base.html" %}

<!--page style sheet-->
{%block styles%}
	{%load static%}
	 <link rel="stylesheet" href="{% static 'css/register.css' %}">

{%endblock%}

<!-- page script-->
{%block scripts%}
    <script src="{% static 'js/register.js' %}"></script>
{%endblock%}

<!--page content-->
{%block content%}
	{%load static %}

	{% load crispy_forms_tags %}
<div  style="width:100%; height:100%; background-color:#EFEFEF">
	<div class="row">
            <div class="col-md-8 col-sm-8">

              <form id="registration-form"  method="POST">
				  {%csrf_token%}
                <h2>Password Reset</h2>
                 
                 {% for field in form %}
                <div class="form-row form-pad">
                 <p>

					 <span class="form-field">{{field| as_crispy_field}}</span>

				 </p>

              </div>
				{%endfor%}
<!--               <div class="form-row form-pad">-->

<!--                 <label><input type="checkbox" value="" name="policy"> I accept the <span><a href="#">Terms of Use</a></span> and <span><a href="#">Privacy Notice</a></span></label>-->
<!--            </div>-->
				  <button type="submit" class="register btn btn-register" id="register" name="register" >PASSWORD RESET</button>

          </form>
            </div>
          </div>
</div>
{% endblock%}











<!--<h1>Register</h1>-->
<!--<form method="POST">-->
<!--	{% csrf_token%}-->
<!--	{{form.as_p}}-->
<!--	<button type="submit">Register</button>-->
<!--</form>-->